services:
  ml-server:
    image: dhruv2k3/alluvium-ml-server:latest
    container_name: ml-server
    ports:
      - "8001:8001"
    env_file:
      - .env
    networks:
      - alluvium-net
networks:
  alluvium-net:
    driver: bridge